label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
  }
  
  input {
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin-top: 10px;
  }
  